.container{
    background-color: aquamarine;
}

div{
    height: 100px;
    width: 100px;
}

#first{
    background-color: #0d11e4;
    position: relative;
    left: 200px;
}
#second{
    background-color: antiquewhite;
    position: relative;
    left: 100px;
}
#third{
    background-color: brown;
    position: relative;
    left: 0px;
}

#fourth{
    background-color: yellow;
    position: relative;
    left: 300px;
    bottom: 200px;
}
#five{
    background-color: red;
    position: relative;
    left: 400px;
    bottom: 200px;
}
#six{
    background-color: #e4990d;
    position: relative;
    left: 0px;
    bottom: 200px;
}
#seven{
    background-color: #00ff37;
    position: relative;
    left: 100px;
    bottom: 200px;
}
#eight{
    background-color: #ff04ff;
    position: relative;
    left: 200px;
    bottom: 200px;
}
#nine{
    background-color: #c7bb15;
    position: relative;
    left: 300px;
    bottom: 400px;
}
#ten{
    background-color: #2b78c0;
    position: relative;
    left: 400px;
    bottom: 600px;
}


body{
    counter-reset: section;
}
p::before{
    counter-increment: section;

    content: "😊" counter(section) " :";
}

p::after{
    content: "😊😊😊😊😊";
}


input:focus{
    font-size: 50px;
    color: #e40d0d;
}

dim{
    border: 5px solid red;
    border-radius: 10px;
    width: 400px;
    text-align: center;
   
}
a:visited{
    color: aqua;
}

h3::before{
    content: "lkjhgfds ";
    color: #0d11e4;
    background-color: beige;
    font-size: 50px;

}

.special::after{
    color: blueviolet;
    content: " Hasan";
    font-size: 60px;
    background-color: aquamarine;
}

.hover_effect :hover{
    color: #e40d0d;
    background-color: #06fc9e;
    font-weight: 700px;
    border: 10px dotted #8506fc;
    border-radius: 20px;
    width: 70%;
    
}

li:nth-child(2n+4){
    color: #0d11e4;
    background-color: #e4990d;
}



.pra{
    background-color: aqua;
    color: #e40d0d;
    border: 10px dashed #8506fc;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 75%;
    height: 150px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.bea{
    color: #000000;
}

h1.bea{
    text-align: center;
    font-size: 100px;
    color: aqua;
    border: 50px solid royalblue;
}

.blog{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    width: 30%;
    display: inline-block;
    margin: 1px;
    padding: 1px;
    border: 10px dotted #06fc9e;
    border-radius: 10px;
}
